<html>
    <head>
        <title>Isomorphic Koa 2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    </head>
    <body>
    <img src="https://cdn.riastatic.com/photos/auto/promoblock/1606061614/160606161454/16060616145402/16060616145402f.jpg"/>
    <%- body %>
    <script src="/js/jquery-latest.js"></script>
    <script src="/css/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>